body{
    background-color: rgba(255,255,255,.8);
    text-align: center;
}
p{
    color: tomato;
    text-transform: capitalize;
}
div{
    color: green;
}
div p{
    color: purple;
}
/*<!--.ava{
    color:purple;
}-->*/
.dhrubo{
    font-weight: bold;
    font-family: "Sedan SC",'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.decoration{
    text-decoration: underline;
    text-shadow: 3px 2px blue;
    word-spacing: 5px;
}
.love{
    font-size: 1rem;
    color: rgba(200,150,70,.8);
}
